#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: #363a43;
}
.Destacados{
  background-color: rgb(60, 159, 159);
  border-radius: 40px;
}
.ContenedorDestacados img{
  max-width: 100vh;
}