.contPrefil{
  padding: 40px 50px;
}
.Destacados{
  padding: 20px;
}
.Destacados h2{
  padding: 20px;
}
.contenedorImgs{
  background-color: #333;
  border-radius: 30px;
}
.listgames{
  padding-top: 60px;
  padding-bottom: 40px;
}
.register{
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper {
  background-color: #fff;
  width: 420px;
  color: #333;
  border-radius: 10px;
  padding: 30px 40px;
  overflow: hidden;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;

}


.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #333;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .remenber-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remenber-forgot label input{
  accent-color: #333;
  margin-right: 3px;
}
.remenber-forgot a{
  color: #333;
  text-decoration: none;
}
.remenber-forgot a:hover{
  text-decoration: underline;
}

.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #333;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}
.register-link p a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
.login-link{
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}
.login-link p a{
  color: #333;
  text-decoration: none;
  font-weight: 600;

}

.register-link p a:hover{
  text-decoration: underline;
}